/*CSS GBAF */

/*CSS Global*/
@font-face{ 
	font-family: 'SF';
	src: url('../font/sf-ui-display-light-webfont.woff') format('woff'),
         url('../font/sf-ui-display-light-webfont.woff2') format('woff2');
}

*{
    font-family: 'SF';
    
}

.ast{
    color: #e74c3c;
}

html {
    background-image: url(../img/background.jpg);
}

body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

a{
    text-decoration: none;
    color: white;
}
/* CSS header */ 
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 3em;
    background-color: #e74c3c;
}

#logo {
    width: 4em;
    height: 4em;
    margin: 0.5em 0 0 1em;
    box-shadow: 1px 1px 30px -10px black;
    border-radius: 1em;
}

header nav{
    display: flex;
    height: 3em;
    width: 12em;
    
}

nav>a{
    display: flex;
    align-items: center;
    
    
}

nav>a:hover{
    background-color: #ecf0f1; 
    border-bottom: #34495e solid; 
    color: grey;
}

header p{
    margin-left: 0.5em;
    width: 7em;
    padding-right: 1em;
}
.icon{
    width: 1.5em;
    height: 1.5em;
}


/*CSS footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    width:100%;
    background-color: rgba(26, 188, 156,1.0);
    
    
}

/* CSS main */


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto 3em;
    
    
    
}

#main-off{
    width: 50%;
    padding: 1em 0;
    margin-top: 3em;
    margin-bottom: 2em;
    font-size: 0.8em;
    background-color: white;
    
}


/* CSS index */
 
#intro{
    width: 90%;
    height: 100%;
    background-color: #ecf0f1;
    box-shadow: 1px 1px 30px -10px;
    margin: 2em auto 1em;
    padding: 1em 1em;
    text-align: center;
}
#intro>img{
    width: 100%;
}


#actor-list{
    width: 90%;
    height: 100%;
    background-color: #ecf0f1;
    box-shadow: 1px 1px 30px -10px;
    margin: 1em auto;
    padding: 1em 1em;
    
}
#actor-list>p, #actor-list>h2{
    text-align: center;
}

article>.content{
    width: 65%;
    
}
article{
    width: 100%;
    box-shadow: 1px 1px 30px -10px;
    margin: 2em 0;
    display: flex;
    position: relative;
    
}

article>img{
    
    width: 30%;
    
}
article>.content{
    padding: 1em  1em ;
    width: 60%;
    
}
article>.content>p{
    width: 60%;
    margin-bottom: 0;
    text-overflow: ellipsis;
    
}
article>.content>h3{
    color: darkgrey;
    margin-top: 0;
    
}

article>a{
    width: 10%;
    height: 1.5em;
    bottom: 0;right: 0;
    position: absolute;
    background-color: #e74c3c;
    color: white;
    border: 1px solid #e74c3c;
    cursor: pointer;
    -webkit-appearance: none;
    border-radius: 0;
    font-size: 1em;
    text-align: center;
}


article>a:hover{
    background-color: white;
    color: red;
    border: 1px solid #e74c3c;
    -webkit-appearance: none;
    border-radius: 0;
}

/* CSS index */

#intro-actor{
    width: 90%;
    height: 100%;
    box-shadow: 1px 1px 30px -10px;
    margin: 2em auto 1em;
    padding: 1em 1em;
    text-align: center;
    background-color: white;
}


#intro-actor>img{
    width: 50%;
    margin: auto;
}

#intro-actor>a{
    color: black;
}

#comment{
    width: 90%;
    height: 100%;
    background-color: #ecf0f1;
    box-shadow: 1px 1px 30px -10px;
    margin: 0 auto 1em;
    padding: 1em 1em;
    text-align: center;
}

.top-comment{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;
}

#last-comment>article{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    
}
#last-comment p{
    padding: 0 1em;
}

.head-comment{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center; 
}

.head-comment>h4, .head-comment>label{
    padding: 0 1em;
}

textarea{
    width: 95%;
    margin: auto;
    height: 10em;
    padding: 1em
}



/* CSS Reaction (nouveau commentaire et like/dislike)*/

#reaction{
    display: flex; 
    align-items: center;
    border: 0.1em solid lightgrey;
    box-shadow: 1px 1px 15px -10px;
    
}

#lien-new{
    width: 7em;
    padding: 1em;
    margin: 0.5em 0.5em;
    border-radius: 0.2em;
    text-align: center;
    border: 0.1em solid rgba(26, 188, 156,1.0);
    outline: none;
    background-color: rgba(26, 188, 156,1.0);
    box-shadow: 1px 5px 10px -10px;
    color: white;
}


#reaction a img {
    width: 2em;
    height: 2em;
    
}

#reaction p {
    font-size: 1.2em;
    font-weight: 800;
     
    
}
#reaction>p{
    margin: 1em; 
}


#main-off>img {
    margin-bottom: 2em;
    width: 8em;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

form>a{
    color: black;
    margin-bottom: 1em;
   
}
.champs>label{
    width: 15em;
}

.champs{
    border-bottom: 1px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 2em;
    padding-bottom: 0.5em;
}


input[type=text], input[type=password], select {
    width: 100%;
    padding: 0.5em 0.5em 0.1em;
    border: none;
    font-family: 'SF';
    background-color: transparent;
    
}

#register{
    background-color: rgba(26, 188, 156,1.0);
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    cursor: pointer;
    width: 40%;
    -webkit-appearance: none;
    border-radius: 0;
    font-size: 1em;
    text-align: center;
    margin-bottom: 1em;
}

#register:hover{
    background-color: white;
    color: rgba(26, 188, 156,1.0);
    border: 1px solid #3498db;
    -webkit-appearance: none;
    border-radius: 0;
}


input[type=submit] {
    background-color: #e74c3c;
    color: white;
    padding: 10px 20px;
    border: 1px solid #e74c3c;
    cursor: pointer;
    width: 50%;
    -webkit-appearance: none;
    border-radius: 0;
    font-size: 1em;
    
}
input[type=submit]:hover {
    background-color: white;
    color: red;
    border: 1px solid #e74c3c;
    -webkit-appearance: none;
    border-radius: 0;
    
    
}

#return{
    width: 3em;
    height: 3em;
    background-color: #e74c3c; 
    border-radius: 2em;
    position: fixed;
    left: 1.5em; top : 5.5em;
    
}

/* CSS add-commentaire */
#main-comment{
    width: 50%;
    margin: auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
}

#main-comment>form>textarea{
    width: 90%;
    height: 20em;
    min-height: 15em;
}



/* CSS pour mobile */
@media only screen and (max-width : 500px) {
    
#main-off{
    width: 95%;
    padding: 1em 0;
    margin-top: 3em;
    margin-bottom: 2em;
    font-size: 0.8em;
    
}

    footer {
    height: 2em;
    position: inherit;
    }
    
    article{
    width: 95%;
    height: auto;
    margin: 2em auto;
    padding: 1em 0 0;
    display: flex; 
    flex-direction: column;
    align-items: center;
    
}
    article>img{
    height: auto;
    width: 100%;
    
}
article>.content{
    padding: 1em  1em ;
    width: 60%;
    margin-bottom: 1em;
    
}
article>.content>p{
    width: 100%;
    text-align: center;
    
}
article>.content>h3{
    text-align: center;
    
}

article>a{
    width: 100%;
    margin-top: 1em;
}

    .top-comment{
    display: flex;
    flex-direction: column;
}
    #mobile {
      align-items: flex-start;  
    }
}