@font-face{ 
	font-family: 'SF';
	src: url('../Font/sf-ui-display-light-webfont.woff') format('woff'),
         url('../Font/sf-ui-display-light-webfont.woff2') format('woff2');
}

*{
    font-family: 'SF';
    outline: none;
}

.ast{
    color: #e74c3c;
}
a{
    text-decoration: none;
    color: darkgrey;
    
}
body{
    
    background-image: url(../img/background.jpg);
    margin: 0;
    display: flex;
    align-content: center;
}

#frame{
    width: 90%;
    height: 100%;
    margin: auto;
    max-width: 1000px;
    
}

.no-frame{
    box-shadow: none;
}
header{
    height: 10em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header>img{
    height: 8em;
    width: 8em;
    background-color: rgba(255,255,255, 1);
    box-shadow: 1px 1px 30px -10px;
    border-radius: 0.5em;
}


#content{
    display: flex;
    height: auto;
    width: 100%;
    padding-bottom:  1em;
    background-color: rgba(236, 240, 241,1.0);
    box-shadow:  inset 0px -2px 10px -5px rgba(50, 50, 50, 0.75);
    box-shadow: 1px 1px 30px -10px;
}

input[type=text], input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 0.5em 0em;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;font-family: 'SF';
}


input[type=submit] {
    background-color: #e74c3c;
    color: white;
    padding: 10px 20px;
    margin: 0.5em 0;
    border: 1px solid #e74c3c;
    cursor: pointer;
    width: 90%;
    -webkit-appearance: none;
    border-radius: 0;
    font-size: 1em;
    
}
input[type=submit]:hover {
    background-color: white;
    color: red;
    border: 1px solid #e74c3c;
    -webkit-appearance: none;
    border-radius: 0;
    
    
}

#select{
    background-color: red;
    color: white;
    padding: 14px 20px;
    margin: 20px 1.0em;
    border: none;
    cursor: pointer;
    width: 40%;
    -webkit-appearance: none;
    border-radius: 0;
}

#select:hover{
    background-color: white;
    color: red;
    border: 1px solid red;
    -webkit-appearance: none;
    border-radius: 0;
}


.champs{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 0 1em;
    color: darkgray;
    text-decoration: none;
    
}

input::placeholder {
    color: lightgray;
}

.champs>form>a{
    margin-right: 1em;
}

.champs>form {
    width: 90%;
}

h1{
    font-size: 2.5em;
    margin: 0.5em 0;
}
#commentaire{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: auto;
    width: 100%;
    background-color: rgba(236, 240, 241,1.0);
    box-shadow:  inset 0px -2px 10px -5px rgba(50, 50, 50, 0.75);
    color: darkgray;
}

#content>textarea{
    margin: 1em 0;
    width: 90%;
}



textarea{
    width: 80%;
    height: 10em;
    padding: 1.5em;
    margin-bottom: 1em;
    border: 2px solid lightgrey;
    border-radius: 2em;
    resize: none;
    font-size: 1em;
}

/** Disconnect.php**/

#disconnect>p{
    text-align: center;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 100%;
    background-color: rgba(26, 188, 156,1.0);
    box-shadow: 1px 5px 30px -10px;
}

footer>p, footer>p>a{
    margin: 0;
    text-decoration: none;
    color: white;
    
}

@media only screen and (max-width : 320px) {
    h1{
    font-size: 2.5em;
    margin: 0.5em 0;
}
#commentaire{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: auto;
    width: 100%;
    background-color: rgba(236, 240, 241,1.0);
    box-shadow:  inset 0px -2px 10px -5px rgba(50, 50, 50, 0.75);
    color: darkgray;
}

#content>textarea{
    margin: 1em 0;
    width: 90%;
}



textarea{
    width: 80%;
    height: 10em;
    padding: 1em;
    margin-bottom: 1em;
    border: 2px solid lightgrey;
    border-radius: 2em;
    resize: none;
    font-size: 1em;
}
    
    input[type=submit] {
    width: 90%;
    
    
}

    
}

